.DS_Store
.vscode
node_modules/*
public
.tmp
.sass-cache
.idea
*.swp
/server/config/local.env.js
npm-debug.log
coverage
node_modules.tar.gz
sftp-config.json
server/logs
nohup.out
client/bower_components
bower_components
output
logs
dist